ALTER TABLE article ADD article_id INT AUTO_INCREMENT NOT NULL, ADD etudiant_id INT NOT NULL, ADD categorie_id INT NOT NULL, DROP id_article, DROP id_etudiant, DROP id_categorie, DROP PRIMARY KEY, ADD PRIMARY KEY (article_id);
ALTER TABLE article ADD CONSTRAINT FK_23A0E66DDEAB1A3 FOREIGN KEY (etudiant_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE article ADD CONSTRAINT FK_23A0E66BCF5E72D FOREIGN KEY (categorie_id) REFERENCES categorie (categorie_id) ON DELETE CASCADE;
CREATE INDEX IDX_23A0E66DDEAB1A3 ON article (etudiant_id);
CREATE INDEX IDX_23A0E66BCF5E72D ON article (categorie_id);
ALTER TABLE atelier MODIFY id_atelier INT NOT NULL;
ALTER TABLE atelier CHANGE id_atelier atelier_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (atelier_id);
ALTER TABLE candidature_job DROP FOREIGN KEY `FK_E40B48E44CC8505A`;
ALTER TABLE candidature_job MODIFY id_candidature INT NOT NULL;
ALTER TABLE candidature_job CHANGE id_candidature candidature_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (candidature_id);
ALTER TABLE candidature_job ADD CONSTRAINT FK_E40B48E44CC8505A FOREIGN KEY (offre_id) REFERENCES offrejob (offre_id) ON DELETE CASCADE;
ALTER TABLE categorie MODIFY id_categorie INT NOT NULL;
ALTER TABLE categorie CHANGE id_categorie categorie_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (categorie_id);
ALTER TABLE commande DROP FOREIGN KEY `FK_6EEAA67A7294869C`;
ALTER TABLE commande DROP FOREIGN KEY `FK_6EEAA67D6B3CA4B`;
DROP INDEX IDX_6EEAA67DDCA7A716 ON commande;
DROP INDEX uniq_commande_session_article ON commande;
DROP INDEX IDX_6EEAA67D6B3CA4B ON commande;
ALTER TABLE commande MODIFY id_commande INT NOT NULL;
ALTER TABLE commande CHANGE id_commande commande_id INT AUTO_INCREMENT NOT NULL, CHANGE id_user user_id INT DEFAULT NULL, CHANGE id_article article_id INT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (commande_id);
ALTER TABLE commande ADD CONSTRAINT FK_6EEAA67DA76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE SET NULL;
ALTER TABLE commande ADD CONSTRAINT FK_6EEAA67D7294869C FOREIGN KEY (article_id) REFERENCES article (article_id) ON DELETE CASCADE;
CREATE INDEX IDX_6EEAA67DA76ED395 ON commande (user_id);
CREATE INDEX IDX_6EEAA67D7294869C ON commande (article_id);
CREATE UNIQUE INDEX uniq_commande_session_article ON commande (stripe_session_id, article_id);
ALTER TABLE commentaire DROP FOREIGN KEY `FK_67F068BC1BB9D5A2`;
ALTER TABLE commentaire DROP FOREIGN KEY `FK_67F068BC236D04AD`;
ALTER TABLE commentaire DROP FOREIGN KEY `FK_67F068BCC4E0D4DF`;
DROP INDEX IDX_67F068BCC4E0D4DF ON commentaire;
DROP INDEX IDX_67F068BC1BB9D5A2 ON commentaire;
DROP INDEX IDX_67F068BC236D04AD ON commentaire;
ALTER TABLE commentaire MODIFY id_comm INT NOT NULL;
ALTER TABLE commentaire ADD auteur_id INT NOT NULL, ADD pub_id INT NOT NULL, DROP id_auteur, DROP id_pub, CHANGE id_comm comm_id INT AUTO_INCREMENT NOT NULL, CHANGE id_parent parent_id INT DEFAULT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (comm_id);
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BC60BB6FE6 FOREIGN KEY (auteur_id) REFERENCES user (id);
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BC83FDE077 FOREIGN KEY (pub_id) REFERENCES publication (pub_id);
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BC727ACA70 FOREIGN KEY (parent_id) REFERENCES commentaire (comm_id) ON DELETE CASCADE;
CREATE INDEX IDX_67F068BC60BB6FE6 ON commentaire (auteur_id);
CREATE INDEX IDX_67F068BC83FDE077 ON commentaire (pub_id);
CREATE INDEX IDX_67F068BC727ACA70 ON commentaire (parent_id);
ALTER TABLE condidature_job DROP FOREIGN KEY `FK_2F901D644CC8505A`;
ALTER TABLE condidature_job MODIFY id_condidature INT NOT NULL;
ALTER TABLE condidature_job CHANGE id_condidature condidature_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (condidature_id);
ALTER TABLE condidature_job ADD CONSTRAINT FK_2F901D644CC8505A FOREIGN KEY (offre_id) REFERENCES offrejob (offre_id);
ALTER TABLE historique_vue DROP FOREIGN KEY `FK_94C9E0E56B3CA4B`;
ALTER TABLE historique_vue DROP FOREIGN KEY `FK_94C9E0E5A7294869C`;
DROP INDEX IDX_27CBE987DCA7A716 ON historique_vue;
DROP INDEX IDX_27CBE9876B3CA4B ON historique_vue;
ALTER TABLE historique_vue MODIFY id_vue INT NOT NULL;
ALTER TABLE historique_vue ADD user_id INT NOT NULL, ADD article_id INT NOT NULL, DROP id_user, DROP id_article, CHANGE id_vue vue_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (vue_id);
ALTER TABLE historique_vue ADD CONSTRAINT FK_27CBE987A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE historique_vue ADD CONSTRAINT FK_27CBE9877294869C FOREIGN KEY (article_id) REFERENCES article (article_id) ON DELETE CASCADE;
CREATE INDEX IDX_27CBE987A76ED395 ON historique_vue (user_id);
CREATE INDEX IDX_27CBE9877294869C ON historique_vue (article_id);
ALTER TABLE learning_path DROP FOREIGN KEY `FK_4D04C797B0B8A547`;
DROP INDEX IDX_4D04C797B0B8A547 ON learning_path;
ALTER TABLE learning_path MODIFY id_learning INT NOT NULL;
ALTER TABLE learning_path CHANGE id_learning learning_id INT AUTO_INCREMENT NOT NULL, CHANGE id_skill skill_id INT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (learning_id);
ALTER TABLE learning_path ADD CONSTRAINT FK_4D04C7975585C142 FOREIGN KEY (skill_id) REFERENCES skill (skill_id);
CREATE INDEX IDX_4D04C7975585C142 ON learning_path (skill_id);
ALTER TABLE offrejob MODIFY id_offre INT NOT NULL;
ALTER TABLE offrejob CHANGE id_offre offre_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (offre_id);
ALTER TABLE publication DROP FOREIGN KEY `FK_AF3C6779236D04AD`;
DROP INDEX IDX_AF3C6779236D04AD ON publication;
ALTER TABLE publication MODIFY id_pub INT NOT NULL;
ALTER TABLE publication CHANGE id_pub pub_id INT AUTO_INCREMENT NOT NULL, CHANGE id_auteur auteur_id INT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (pub_id);
ALTER TABLE publication ADD CONSTRAINT FK_AF3C677960BB6FE6 FOREIGN KEY (auteur_id) REFERENCES user (id);
CREATE INDEX IDX_AF3C677960BB6FE6 ON publication (auteur_id);
ALTER TABLE publication_reaction DROP FOREIGN KEY `FK_529ACDCF6B3CA4B`;
ALTER TABLE publication_reaction DROP FOREIGN KEY `FK_529ACDCFC4E0D4DF`;
DROP INDEX IDX_8BB0F2A66B3CA4B ON publication_reaction;
DROP INDEX uniq_pub_user_reaction ON publication_reaction;
DROP INDEX IDX_8BB0F2A6C4E0D4DF ON publication_reaction;
ALTER TABLE publication_reaction MODIFY id_reaction INT NOT NULL;
ALTER TABLE publication_reaction ADD pub_id INT NOT NULL, ADD user_id INT NOT NULL, DROP id_pub, DROP id_user, CHANGE id_reaction reaction_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (reaction_id);
ALTER TABLE publication_reaction ADD CONSTRAINT FK_8BB0F2A683FDE077 FOREIGN KEY (pub_id) REFERENCES publication (pub_id) ON DELETE CASCADE;
ALTER TABLE publication_reaction ADD CONSTRAINT FK_8BB0F2A6A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
CREATE INDEX IDX_8BB0F2A683FDE077 ON publication_reaction (pub_id);
CREATE INDEX IDX_8BB0F2A6A76ED395 ON publication_reaction (user_id);
CREATE UNIQUE INDEX uniq_pub_user_reaction ON publication_reaction (pub_id, user_id);
ALTER TABLE reservation DROP FOREIGN KEY `FK_42C849553F26B153`;
ALTER TABLE reservation DROP FOREIGN KEY `FK_42C849556B3CA4B`;
DROP INDEX IDX_42C849553F26B153 ON reservation;
DROP INDEX IDX_42C849556B3CA4B ON reservation;
ALTER TABLE reservation MODIFY id_reservation INT NOT NULL;
ALTER TABLE reservation ADD user_id INT NOT NULL, ADD atelier_id INT NOT NULL, DROP id_user, DROP id_atelier, CHANGE id_reservation reservation_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (reservation_id);
ALTER TABLE reservation ADD CONSTRAINT FK_42C84955A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE reservation ADD CONSTRAINT FK_42C8495582E2CF35 FOREIGN KEY (atelier_id) REFERENCES atelier (atelier_id);
CREATE INDEX IDX_42C84955A76ED395 ON reservation (user_id);
CREATE INDEX IDX_42C8495582E2CF35 ON reservation (atelier_id);
ALTER TABLE skill MODIFY id_skill INT NOT NULL;
ALTER TABLE skill CHANGE id_skill skill_id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (skill_id);
